# Eclipse
.settings
.cache
.cache-main
.project
.classpath
bin

# idea
**/.idea/workspace.xml
**/.idea/tasks.xml

*/backup.*
*/bin/
*/login1
*/login2
*/login1-
*/login2-
*/login1s
*/login2s
*/colours
*/colours1
*/colours2
*/save.*.txt
